<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lz.radar.mapper.IotTelemetryMapper">

    <!--  查询所有时序数据  -->
    <select id="selectAllTelemetry" resultType="com.lz.radar.domain.IotTelemetry">
        SELECT * FROM iot_telemetry ORDER BY record_time DESC limit 10
    </select>

    <!--  根据设备ID查询时序数据  -->
    <select id="selectTelemetryByDeviceId" resultType="com.lz.radar.domain.IotTelemetry"
            parameterType="java.lang.Long">
        SELECT
            telemetry_id,
            device_id,
            data_key,
            data_value,
            unit,
            record_time,
            CASE data_key
                WHEN 'SoilMoisture' THEN '土壤湿度'
                WHEN 'carbonDioxide' THEN '二氧化碳'
                WHEN 'illuminance' THEN '光照度'
                WHEN 'soilPh' THEN '土壤pH值'
                WHEN 'SoilElectricalConductivity' THEN '土壤电导率'
                WHEN 'carbonMonoxide' THEN '一氧化碳'
                WHEN 'temperature' THEN '温度'
                WHEN 'humidity' THEN '湿度'
                WHEN 'soilTemperature' THEN '土壤温度'
                WHEN 'ultravioletRay' THEN '紫外线'
                ELSE '未知'
                END AS data_key_chinese
        FROM iot_telemetry WHERE device_id = #{deviceId} ORDER BY record_time DESC limit 10
    </select>

    <!--  根据数据键名查询时序数据  -->
    <select id="selectTelemetryByDataKey" resultType="com.lz.radar.domain.IotTelemetry"
            parameterType="java.lang.String">
        SELECT * FROM iot_telemetry WHERE data_key = #{dataKey} ORDER BY record_time DESC limit 10
    </select>

    <!--  根据设备ID和时间范围查询时序数据  -->
    <select id="selectTelemetryByTimeRange" resultType="com.lz.radar.domain.IotTelemetry">
        SELECT * FROM iot_telemetry WHERE device_id = #{deviceId} AND record_time BETWEEN #{startTime} AND #{endTime} ORDER BY record_time DESC limit 10
    </select>

    <!--  获取设备最新的数据  -->
    <select id="selectLatestTelemetryByDeviceId" resultType="com.lz.radar.domain.IotTelemetry"
            parameterType="java.lang.Long">
        SELECT t1.* FROM iot_telemetry t1 " +
            "INNER JOIN (SELECT data_key, MAX(record_time) as max_time FROM iot_telemetry WHERE device_id = #{deviceId} GROUP BY data_key) t2 " +
            "ON t1.data_key = t2.data_key AND t1.record_time = t2.max_time " +
            "WHERE t1.device_id = #{deviceId}
    </select>

    <!--  插入新时序数据记录  -->
    <insert id="insertTelemetry" parameterType="com.lz.radar.domain.IotTelemetry">
        INSERT INTO iot_telemetry
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="telemetryId != null">telemetry_id,</if>
            <if test="deviceId != null">device_id,</if>
            <if test="dataJson != null">data_json,</if>
            record_time
        </trim>
        <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
            <if test="telemetryId != null">#{telemetryId},</if>
            <if test="deviceId != null">#{deviceId},</if>
            <if test="dataJson != null">#{dataJson},</if>
            CURRENT_TIMESTAMP
        </trim>
    </insert>

    <!--  批量插入时序数据记录  -->
    <insert id="batchInsertTelemetry"
            parameterType="java.util.List">
        INSERT INTO iot_telemetry (telemetry_id, device_id, data_json, record_time)
        VALUES
        <foreach collection="telemetryList" item="item" separator=",">
            (#{item.telemetryId},#{item.deviceId}, #{item.dataJson}, CONVERT_TZ(NOW(), @@session.time_zone, '+08:00'))
        </foreach>
    </insert>

    <!--  根据设备ID删除时序数据  -->
    <delete id="deleteTelemetryByDeviceId" parameterType="java.lang.Integer">
        DELETE FROM iot_telemetry WHERE device_id = #{deviceId}
    </delete>
</mapper>